
{{#extends 'base'}}

{{#block 'content'}}
<a href="/products/create" class="btn btn-primary">New</a>

<h2>Search</h2>
<form method="GET">
    {{{form}}}
    <input type="submit" value="Search" class="btn btn-primary my-3"/>
</form>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
              <th>MediaProperty</th>
              <th>MediaProperty Content</th>
                  <th>URL</th>
                <th>Cost</th>
            <th>Description</th>        
              <th>Date</th>
                <th>Stock</th>
               <th>Height</th>
                <th>Width</th>
                 <th>Tags</th>
                 <th>Image</th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr>
             <td>{{this.id}}</td>
            <td>{{this.title}}</td>
                 <td>
                {{this.mediaproperty.name}}
            </td>
                   <td>
                {{this.mediaproperty.description}}
            </td>
                   <td>
                {{this.mediaproperty.URL}}
            </td>
             <td>{{this.cost}}</td>
            <td>{{this.description}}</td>
             <td>{{this.date}}</td>
              <td>{{this.stock}}</td>
               <td>{{this.height}}</td>
                 <td>{{this.width}}</td>
                      <td>
                {{#each this.tags}}
                    <span class="badge bg-primary">{{this.name}}</span>
                {{/each}}
            </td>
                <td>
                <img src="{{this.image_url}}" class="img-fluid"/>
            </td>
                  <td>
                <a href="/products/{{this.id}}/update" class="btn btn-primary btn-sm">Update</a>
                <a href="/products/{{this.id}}/delete" class="btn btn-danger btn-sm">Delete</a>
                 <a href="cart/{{this.id}}/add" class="btn btn-success btn-sm">Add to Cart</a>
            </td>

           
        </tr>
        {{/each}}
    </tbody>
</table>
{{/block}}
{{/extends}}